.container-activity{
    padding: 50px;
}
.ver-detalles{
    font-size: 24px;
    text-decoration: none;
    color: #0f0c29;
    padding: 28px;
}
.container-activity-detail{
    padding-left: 260px;
    padding-right: 260px;
    margin-top: 90px;
}
.icono-fecha{
    font-size: 35px;
    color: #302b63;
}
.estilo-fecha{
    font-weight: 600;
    margin-left: 5px;
    margin-top: 15px;
    font-size: 17px;
}
.estilo-cliente{
    background-color: #302b63;
    color: white;
    border-radius: 15px;
    width: 120px;
    text-align: center;
    padding: 3px;
}
.estilo-actividad-tipo{
    background-color: #41B06E;
    color: white;
    border-radius: 15px;
    width:130px;
    text-align: center;
    padding: 3px;
}
.btn-ActualizarActividad{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    border-radius: 8px;
    color: white;
    padding: 10px;
    margin-top: 15px;
}
.btn-CrearActividad{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    border-radius: 8px;
    color: white;
    padding: 10px;
    text-decoration: none;
}
.table td {
    max-width: 500px; /* Establece un ancho máximo para las celdas */
    word-wrap: break-word; /* Permite que las palabras se dividan y bajen a la siguiente línea si son demasiado largas */
    white-space: normal; /* Permite que el texto se ajuste en múltiples líneas */
}
