.container-contact{
    padding: 50px;
}
.btn-CrearContacto{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    border-radius: 8px;
    color: white;
    padding: 10px;
    text-decoration: none;
}
.btn-ActualizarContacto{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    border-radius: 8px;
    color: white;
    padding: 10px;
    margin-top: 15px;
}
.avatar-contact{
    font-size: 152px;
}
.iconos-contact{
    font-size: 22px;
    margin-right: 5px;
}
.iconos-calls{
    font-size: 18px;
}
.titulo-nota{
    font-weight: 600;
    color: black;
    font-size: 22px;
}
.estado-bueno{
    background-color: #41B06E;
    border-radius: 50px;
    text-align: center;
    color: white;
}
.estado-neutral{
    background-color: #FF9800;
    border-radius: 50px;
    text-align: center;
    color: white;
}
.estado-malo{
    background-color: #e8281a;
    border-radius: 50px;
    text-align: center;
    color: white;
}